<footer class = "footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
    </small>
    <nav>
      <ul>
        <l1><%=link_to "About", about_path %></l1>
        <l1><%=link_to "Contact", contact_path %></l1>
        <l1><a href="http://news.railstutorial.org/" >News</a></l1>
      </ul>
    </nav>
</footer>